<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="content-type" content="text/plain; charset=tis-620" />
        <title>ITOPPLUS Fanpage Chaser</title>
        <link rel='stylesheet' href='css/style.css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class='content'>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="sk-folding-cube">
                        <div class="sk-cube1 sk-cube"></div>
                        <div class="sk-cube2 sk-cube"></div>
                        <div class="sk-cube4 sk-cube"></div>
                        <div class="sk-cube3 sk-cube"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-8 text-center center">
                    <h1>Playground</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    REF: - <a href="https://gist.githubusercontent.com/">https://gist.githubusercontent.com/</a>
                </div>
            </div>

            <!-- Array Methods: Shift(), Unshift(), Push() and Pop() -->
            <div class="row">
                <div class="col-md-12">
                    <h4>Array Methods: Shift(), Unshift(), Push() and Pop()</h4>
                </div>
                <div class="col-md-6 center">
                    <script src="https://gist.github.com/Flintlozk/99a902dc612e16eb5cbbf769c09f3905.js"></script>
                </div>
                <div class="col-md-6">
                    <div class="sub-content">
                        asd
                    </div>
                </div>
            </div>
        </div>

        <br>
        <p class="text-center" style="font-size:8pt">Author <a href="https://github.com/Flintlozk"> Flintlozk </a> Powered by <a href="#">ExpressJS</a></p>
    </body>

</html>
