<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="content-type" content="text/plain; charset=tis-620" />
        <title>ITOPPLUS Fanpage Chaser</title>
        <link rel='stylesheet' href='css/style.css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class='content'>
            <div class="row">
                <div class="col-md-12 text-center">
                    <hr>
                    <h1>Playground</h1>
                    <hr>
                </div>
            </div>
        </div>
        <div class="content">
            <p class="text-center" style="font-size:8pt">Author <a href="https://github.com/Flintlozk"> Flintlozk </a> Powered by <a href="#">ExpressJS</a></p>
        </div>
    </body>

</html>
